PORT = 8000
MONGO_URL = your_mongo_url_here
ACCESS_SECRET = your_access_secret_here
REFRESH_SECRET = your_refresh_secret_here
ACCESS_SECRET_EXPIRY = 15m
REFRESH_SECRET_EXPIRY = 7d
NODE_ENVIRONMENT = your_node_environment_here
CLOUDINARY_CLOUD_NAME = your_cloud_name_here
CLOUDINARY_API_KEY = your_api_key_here
CLOUDINARY_API_SECRET = your_api_secret_here
REDIS_URL = your_redis_url_here